  <h2>User info</h2>
    <%= image_tag user.get_profile_image(100,100) %>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>name</th>
          <th><%= user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= user.introduction %></th>
        </tr>
        </table>
        <tr>
          <th><%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i></th>
          <% end %>
        </tr>
      </tbody>
  <h1>New book</h1>
    <%= form_with model: book do |f| %>
      <p>Title</p>
        <%= f.text_field :title %>
      <p>Opinion</p>
        <%= f.text_area :body %><br>
      <%= f.submit 'Create Book', class: "btn btn-success" %>
    <% end %>