<h1>New book</h1>
  <%= form_with model: @book do |f| %>
    <p>Title</p>
      <%= f.text_field :title %>
    <p>Opinion</p>
      <%= f.text_area :body %><br>
    <%= f.submit 'Create Book' %>
  <% end %>
<h2>Users</h2>
<table>
  <thead>
    <th>image</th>
    <th>name</th>
    <th colspan = "3"></th>
  </thead>
  <tbody>
  <% @users.each do |user| %>
  <tr>
    <td><%= image_tag user.get_profile_image(100,100) %></td>
    <td><p><%= user.name %></p></td>
    <td><p><%= link_to "show", user_path(user.id) %></p></td>
  </tr>
  <% end %>
  </tbody>
</table>